@charset 'UTF-8';

.tmp {
  outline: 1px solid lightgray;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  margin: 0;
  padding: 0;

  color: #fff;
  background-color: #849d8f;
}

a {
  text-decoration: none;

  color: #fff;;
}

a:hover {
  text-decoration: none;

  color: #ffbc9e;
}

.underline {
  border-bottom: 1px solid rgba(256, 256, 256, .3);
}
.underline:hover {
  border-bottom: 1px solid rgba(256, 188, 158, .3);
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.button {
  font: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  padding: 10px 18px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  color: #fff;
  border: 0;
  border-radius: 26px;
  background-color: #e9563a;
}

.main-header {
  margin-top: 10px;
  padding-bottom: 10px;
}

/*NAVIGATION*/
.navigation {
  display: flex;

  justify-content: space-between;
}

.navigation__wrapper {
  display: flex;

  flex-basis: 560px;
}

.main-header-logo {
  margin-right: 10px;
}

.navigation__items {
  font-weight: bold;

  display: inline-flex;

  margin: 0;
  margin-top: 10px;
  padding: 0;

  list-style: none;
}

.navigation__item {
  position: relative;
}

.navigation__item--link {
  display: block;

  padding: 5px 14px;

  border: none;
}
.navigation__item--link:hover {
  color: #323232;
  border: none;
  border-radius: 30px;
  background-color: #f7f6f3;
}
.navigation__item--link span:hover {
  border-bottom: none;
}

.navigation__item:hover .sub-navigation__items {
  display: block;
}

.sub-navigation__items {
  position: absolute;
  left: -6px;

  display: none;

  box-sizing: border-box;
  width: 143px;
  margin: 0;
  margin-top: 5px;
  padding: 5px 0 0;

  list-style: none;

  color: #323232;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 30px rgba(0,0,0,.5);
}

.sub-navigation__items::before {
  font-size: 14px;;
  line-height: 16px;

  display: block;

  padding: 5px 19px 13px;

  content: 'Новинки';

  border-bottom: 1px solid #d1d0ce;
}

.sub-navigation__link {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;

  display: block;
  /*  text-decoration: underline;*/

  padding: 10px 19px 5px;

  color: #323232;
}

.sub-navigation__item:last-child > a {
  padding-bottom: 12px;

  border-radius: 5px;
}

.sub-navigation__link:hover {
  color: #323232;
  background-color: #fbded7;
}
.sub-navigation__link:active {
  color: #323232;
  background-color: #f6b5a5;
}

/*USER-NAV*/
.user-nav {
  font-weight: bold;

  display: flex;

  margin: 0;
  margin-top: 15px;
  padding: 0;

  list-style: none;

  flex-basis: 267px;
  justify-content: flex-end;
}

.user-nav__item {
  position: relative;

  margin-left: 9px;
}

.user-nav__button {
  position: relative;

  display: block;

  min-width: 32px;
  height: 32px;

  cursor: pointer;

  color: #fff;
  border: none;
  border-radius: 16px;
  background-color: rgba(256, 256, 256, .5);
}

.user-nav__button--search {
  font-size: 0;
}
.user-nav__button--search::after {
  position: absolute;
  top: 0;
  right: 0;

  display: block;

  width: 32px;
  height: 32px;

  content: '' ;

  background-image: url('../img/svg/loupe.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-nav__form--search {
  position: absolute;
  top: 37px;
  right: 0;
  /*form*/

  display: none;

  box-sizing: border-box;
  width: 340px;
  padding: 18px 13px;

  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 30px rgba(0,0,0,.5);
}
.user-nav__search {
  font-size: 14px;
  line-height: 24px;

  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding-left: 10px;
}

.user-nav__item:hover .user-nav__form--search {
  display: block;
}

.user-nav__button--login {
  padding-right: 15px;
  padding-left: 42px;
}

.user-nav__button--login::after {
  position: absolute;
  top: 0;
  left: 11px;

  display: block;

  width: 32px;
  height: 32px;

  content: '';

  background-image: url('../img/svg/entrance.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.login__form {
  /*display: none;*/
  position: absolute;
  top: 36px;
  right: 0;

  box-sizing: border-box;
  width: 277px;
  padding: 20px;
  padding-right: 17px;

  color: #323232;
  border-radius: 5px;
  background-color: #f8f7f5;
  box-shadow: 0 20px 30px rgba(0,0,0,.5);
}
.login__input {
  font-size: 14px;
  line-height: 24px;

  box-sizing: border-box;
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
  padding-left: 10px;
}


.login__wrapper {
  display: flex;

  justify-content: space-between;
}

.login__button {
  padding: 10px 25px;

  border-radius: 20px;

  align-self: flex-start;
}

.login__wrapper--link {
  display: flex;
  flex-direction: column;
}
.login__link {
  font-size: 13px;
  font-weight: normal;
  line-height: 22px;

  color: #323232;
}

.login__link .underline {
  border-bottom-color: rgba(0, 0, 0, .3);
}
.login__link .underline:hover {
  border-bottom-color: rgba(256, 188, 158, .3);
}

.user-nav__button--basket {
  padding-right: 30px;
  padding-left: 45px;
}
.user-nav__button--basket::after {
  position: absolute;
  top: 0;
  left: 10px;

  display: block;

  width: 32px;
  height: 32px;

  content: '';

  background-image: url('../img/svg/basket.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.bread-crumbs__wrapper {
  display: flex;
  flex-direction: row-reverse;

  justify-content: space-between;
  align-items: flex-end;
}

.contact-info {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;

  margin: 0;

  text-align: right;

  order: 1;
}

.contact-info__tel {
  font-size: 22px;
  line-height: 24px;

  display: inline-block;

  padding-top: 5px;

  border: none;
}

.contact-info__tel,
.contact-info__tel:hover {
  cursor: default;
  text-decoration: none;

  color: #fff;
  border: none;
}

.bread-crumbs {
  display: flex;

  margin: 0;
  margin-top: 20px;
  padding: 0;

  list-style: none;

  order: 2;
}

.page--main .bread-crumbs {
  display: none;
}

.bread-crumbs__item {
  margin-right: 5px;
}

.main-caption {
  margin: 0;
  margin-bottom: 35px;
}

/* FILTER*/
.filter form {
  display: flex;
}

/*SLIDER*/
.slider__pages {
  /*position: relative;*/
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__page {
  display: flex;
  flex-direction: column;

  padding-top: 265px;

  align-items: center;
}

.slider__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;

  width: 1050px;
  height: auto;
  margin-left: -525px;
}

.slider__description {
  font-size: 60px;
  font-weight: bold;
  line-height: 60.35px;

  position: relative;

  width: 700px;
  margin: 0;
  margin-bottom: 30px;

  text-align: center;
}

.slider__button {
  font-size: 32px;
  line-height: 44px;

  display: block;

  margin-bottom: 40px;
  padding: 10px 40px;

  border-radius: 32px;
}

.slider__page:nth-child(2),
.slider__page:nth-child(3) {
  display: none;
}

/*DISCOUNT*/
.discount-list {
  display: flex;

  justify-content: space-between;
}

.discount {
  display: flex;
  flex-direction: column;

  padding: 16px 18px;

  border-radius: 16px;
  background-size: 100% auto;

  flex-basis: 524px;
}

.discount__caption {
  font-size: 35px;
  line-height: 41px;

  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}

.discount__description {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;

  margin: 0;
  margin-bottom: 45px;
  padding: 0;
}

.discount__button {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  display: block;

  margin-right: 3px;
  margin-bottom: 8px;
  margin-left: auto;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 22px;
}

.discount--raspberries {
  background-color: #a82c3e;
  /*Заменить фоновые изображения - импортировать без закруглений*/
  background-image: url('../img/raspberry-bg.jpg');
  background-size: cover;
}

.discount--chocolate {
  background-color: #5a3a30;
  background-image: url('../img/chocolate-bg.jpg');
  background-size: cover;
}

/* PRODUCT*/
.product {
  display: flex;
  flex-direction: column;

  margin-bottom: 22px;
  padding-top: 30px;
}

.product__items {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  position: relative;

  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  padding-top: 10px;

  flex-grow: 0;
  flex-grow: 0;
  flex-basis: 22.2%;
}

.product__image {
  border-radius: 50%;
}

.hit::before {
  position: absolute;

  display: block;

  width: 60px;
  height: 60px;

  content: '';

  border-radius: 50%;
  background-color: #fff;
  background-image: url('../img/svg/hit.svg');
  background-repeat: no-repeat;
}

.product__price {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;

  display: inline-flex;

  margin: 0;
  margin-top: -63px;
  margin-bottom: 5px;

  align-self: flex-start;
  align-items: center;
}
.product__ruble {
  font-size: 0;

  display: block;

  width: 30px;
  height: 35px;
  margin: 3px 3px 0;

  background-image: url('../img/svg/ruble.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.product__description {
  padding-top: 0;

  text-align: center;
}

.product__weight {
  font-size: 30px;
  font-weight: normal;
  font-weight: bold;
  line-height: 45px;

  padding-top: 10px;

  vertical-align: bottom;
}

.product__button {
  display: none;
}

.pager__items {
  display: flex;

  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.pager__item {
  padding: 10px;
}

/* FEATURE*/
.feature {
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-right: 0;
  padding-left: 0;

  border-radius: 15px;
  background-color: #ebd9b8;
  background-image: url('../img/wafer-pattern.jpg');
}

.feature__caption {
  font-size: 24px;
  line-height: 30px;

  margin: 0;
  margin-left: 20px;

  color: #323232;
}

.feature__items {
  display: flex;

  margin: 0;
  padding: 20px 20px 0;

  list-style: none;

  flex-wrap: wrap;
  justify-content: space-between;
}

.feature__item {
  position: relative;

  padding-bottom: 23px;
  padding-left: 55px;

  color: #323232;

  flex-basis: 485px;
}
.feature__item::before {
  position: absolute;
  top: -12px;
  left: 0;

  display: block;

  width: 50px;
  height: 50px;

  content: '';

  background-repeat: no-repeat;
  /*  display: none;*/
}
.feature__item--ice::before {
  background-image: url('../img/svg/ice-cream.svg');
}
.feature__item--eco::before {
  background-image: url('../img/svg/eco.svg');
}
.feature__item--cow::before {
  background-image: url('../img/svg/cow.svg');
}
.feature__item--thermo::before {
  background-image: url('../img/svg/thermometer.svg');
}

/* NEWS AND SUBSCRIPTION*/
.wrapper__news {
  display: flex;

  margin-bottom: 40px;
  padding-top: 40px;

  justify-content: space-between;
}

.new-in-blog {
  padding: 24px 20px;

  border-radius: 20px;
  background-color: #fff;
  background-image: url('../img/new-in-blog__bg.jpg');
  background-repeat: no-repeat;

  flex-basis: 520px;
}

.new-in-blog__caption {
  font-size: 16px;
  line-height: 22px;

  margin: 0;
  margin-bottom: 5px;

  color: #323232;
}

.new-in-blog__link {
  font-size: 24px;
  line-height: 30px;

  display: inline-block;

  width: 280px;

  text-decoration: underline;

  color: #323232;
}


.subscription {
  padding: 5px;

  border-radius: 15px;
  background-image: url('../img/svg/bg-post.svg');
  background-repeat: no-repeat;

  flex-basis: 550px;
}

.subscription__wrap {
  padding: 15px 22px;

  border-radius: 15px;
  background-color: #f8f7f4;
}

.subscription__description {
  margin-bottom: 35px;

  color: #323232;
}

.subscription__form {
  display: flex;

  margin-bottom: 18px;
}

.subscription__form--email {
  line-height: 40px;

  box-sizing: border-box;
  margin-right: 10px;
  padding-left: 10px;
  /*border-radius: 3px;*/

  flex-grow: 1;
}

/* MAP*/
.map {
  position: relative;

  width: 100%;

  background-color: #f7f1d9;
  background-size: cover;
}

.map__map /*:-)*/ {
  width: 100%;
  height: auto;
}

.map__container {
  position: absolute;
  top: 62px;
  right: 31px;

  display: flex;

  justify-content: flex-end;
}

.map__info {
  font-size: 14px;
  line-height: 20px;

  width: 255px;
  margin-bottom: 60px;
  padding: 30px 22px 30px 25px;

  color: #323232;
  border-radius: 15px;
  background-color: #fefefe;
}

.map__info span {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  display: inline-block;

  margin-bottom: 18px;

  color: #323232;
}

.map__tel {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  text-decoration: none;

  color: #323232;
}

.map__tel:hover {
  cursor: default;

  color: #323232;
}

.map__button {
  display: block;

  margin-top: 24px;
  padding: 10px 28px 11px;
}

/*FOOTER*/
.main-footer {
  display: flex;

  padding-top: 20px;

  justify-content: space-between;
}

.social__items {
  display: inline-flex;

  margin: 0;
  padding: 0;
  padding-top: 15px;

  list-style: none;
}

.social__item {
  margin-right: 11px;
}

.social__item a {
  font-size: 0;

  display: block;

  width: 32px;
  height: 32px;

  border: 3px solid #c2cec7;
  border-bottom: none;
  border-radius: 50%;
}

.social__item--tw a {
  background-image: url('../img/svg/twitter.svg');
}

.social__item--inst a {
  background-image: url('../img/svg/instagram.svg');
}

.social__item--fb a {
  background-image: url('../img/svg/fb.svg');
}

.social__item--vk a {
  background-image: url('../img/svg/vk.svg');
}



.sitelink__items {
  display: flex;

  box-sizing: border-box;
  width: 310px;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-left: 0;

  list-style: none;

  flex-wrap: wrap;
  justify-content: space-between;
}

.sitelink__items li {
  flex-basis: 50%;
}

.sitelink__link {
  font-size: 13px;
  line-height: 18px;

  position: relative;

  display: block;

  margin-bottom: 5px;
}

.sitelink__link::before {
  position: absolute;
  left: -25px;

  display: block;

  width: 20px;
  height: 20px;
  margin-right: 5px;

  content: '';
}

.sitelink__link--attention::before {
  background-image: url('../img/svg/heart.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.sitelink__link--attention {
  font-weight: bold;
}

.footer-logo {
  display: block;

  width: 108px;
  height: 39px;
  margin-bottom: 0;

  background-image: url('../img/svg/logo-htmlacademy.svg');
  background-repeat: no-repeat;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;

  margin: 0;
  padding: 0;
}

.feedback {
  display: none;
}
