@charset 'UTF-8';

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  margin: 0;
  padding: 0;

  color: #fff;
  background-color: #849d8f;
}

a {
  text-decoration: none;

  color: #fff;;
}

a:hover {
  text-decoration: none;

  color: #ffbc9e;
}

.underline {
  border-bottom: 1px solid rgba(256, 256, 256, .3);
}
.underline:hover {
  border-bottom: 1px solid rgba(256, 188, 158, .3);
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.button {
  font: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  padding: 10px 18px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  color: #fff;
  border: 0;
  border-radius: 26px;
  background-color: #e9563a;
  background-image: linear-gradient(#E74A35, #F26843);
  text-shadow: 0px 2px 5px #a0200b;
  box-shadow: 0px 2px 2px 0px rgba(7, 6, 0, 0.36);
}

.button:hover {
  color: white;
  background-color: inherit;
  background-image: -webkit-linear-gradient(#f58669, #ec6f5e);
  background-image: linear-gradient(#f58669, #ec6f5e);

  box-shadow: 0px 1px 2px 0px #ac1000;
}
.button:focus {
  color: white;
  background-color: inherit;
  background-image: -webkit-linear-gradient(#f58669, #ec6f5e);
  background-image: linear-gradient(#f58669, #ec6f5e);

  box-shadow: 0px 1px 2px 0px #ac1000;
}

.main-header {
  margin-top: 9px;
  padding-bottom: 2px;
}
.main-header__link {
  margin: 0;
  padding: 0;
  height: 64px;
}

/*NAVIGATION*/
.navigation {
  display: flex;

  justify-content: space-between;
}

.navigation__wrapper {
  display: flex;

  flex-basis: 560px;
}

.main-header-logo {
  margin-right: 10px;
}

.navigation__items {
  font-weight: bold;

  display: inline-flex;

  margin: 0;
  margin-top: 14px;
  padding: 0;

  list-style: none;
}

.navigation__item {
  position: relative;
}

.navigation__item--link {
  display: block;

  padding: 5px 14px;

  border: none;
}
.navigation__item--link:hover,
.navigation__item:hover .navigation__item--link {
  color: #323232;
  border: none;
  border-radius: 30px;
  background-color: #f7f6f3;
}
.navigation__item--link span:hover {
  border-bottom: none;
}
.navigation__item--link.active {
  border: none;
  border-radius: 30px;
  background-color: #d07058;
}



.navigation__item:hover .sub-navigation__items {
  display: block;
}

/*SUB*/
.sub-navigation__items {
  position: absolute;
  z-index: 10;
  left: -6px;

  display: none;

  box-sizing: border-box;
  min-width: 143px;
  margin: 0;
  margin-top: 5px;
  padding: 5px 0 8px;

  list-style: none;

  color: #323232;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 30px rgba(0,0,0,.5);
}

.sub-navigation__item--caption {
  font-size: 14px;
  line-height: 16px;
  margin: 0 10px 0 5px;
  padding: 7px 0 10px 15px;

  border-bottom: 1px solid #d1d0ce;;
}

.sub-navigation__link {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;

  display: block;
  margin: 3px 0 0 0;
  padding: 6px 19px;

  color: #323232;
}

.sub-navigation__link:hover {
  color: #323232;
  background-color: #fbded7;
}

.sub-navigation__link.active {

  background-color: #d07058;
}

/*USER-NAV*/
.user-nav {
  font-weight: bold;

  display: flex;

  margin: 0;
  margin-top: 14px;
  padding: 0;

  list-style: none;

  flex-basis: 267px;
  justify-content: flex-end;
}

.user-nav__item {
  position: relative;

  margin-left: 9px;
}

.user-nav__link {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;

  position: relative;

  display: block;

  min-width: 32px;
  padding: 8px;

  cursor: pointer;

  color: #fff;
  border: none;
  border-radius: 16px;
  background-color: rgba(256, 256, 256, .5);
}

.user-nav__link:hover {
  color: #fff;
}

/*SEARCH*/
.user-nav__link--search {
  font-size: 0;

  width: 32px;
  height: 32px;
  padding: 0;
}

.user-nav__link--search::after {
  position: absolute;
  top: 0;
  right: 0;

  display: block;

  width: 32px;
  height: 32px;

  content: '' ;

  background-image: url('../img/svg/loupe.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.search__form {
  /*form*/
  position: absolute;
  top: 37px;
  right: 0;

  display: none;

  box-sizing: border-box;
  width: 340px;
  padding: 18px 13px;

  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 30px rgba(0,0,0,.5);
}

.search__input {
  font-size: 14px;
  line-height: 24px;

  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding-left: 10px;
}

.user-nav__item:hover .search__form {
  display: block;
}

/*LOGIN*/
.user-nav__link--login {
  padding-right: 16px;
  padding-left: 43px;
  margin-left: 1px;
}
.user-nav__link--login::after {
  position: absolute;
  top: 0;
  left: 10px;

  display: block;

  width: 32px;
  height: 32px;

  content: '';

  background-image: url('../img/svg/entrance.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.login:hover .login__form {
  display: block;
}

.login__form {
  z-index: 2;
  position: absolute;
  top: 36px;
  right: 0;

  display: none;

  box-sizing: border-box;
  width: 277px;
  padding: 20px;
  padding-right: 17px;

  color: #323232;
  border-radius: 5px;
  background-color: #f8f7f5;
  box-shadow: 0 20px 30px rgba(0,0,0,.5);
}

.login__input {
  font-size: 14px;
  line-height: 24px;

  box-sizing: border-box;
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
  padding-left: 10px;
}


.login__wrapper {
  display: flex;

  justify-content: space-between;
}

.login__button {
  padding: 10px 25px;

  border-radius: 20px;

  align-self: flex-start;
}

.login__wrapper--link {
  display: flex;
  flex-direction: column;
}
.login__link {
  font-size: 13px;
  font-weight: normal;
  line-height: 22px;

  color: #323232;
}

.login__link .underline {
  border-bottom-color: rgba(0, 0, 0, .3);
}
.login__link .underline:hover {
  border-bottom-color: rgba(256, 188, 158, .3);
}

/*BASKET*/
.user-nav__link--basket {
  padding-right: 34px;
  padding-left: 45px;
}
.user-nav__link--basket::after {
  position: absolute;
  top: 0;
  left: 10px;

  display: block;

  width: 32px;
  height: 32px;

  content: '';

  background-image: url('../img/svg/basket.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.basket.not-empty:hover .basket__form {
  display: block;
}

.basket__form {
  display: none;
}

.not-empty .user-nav__link--basket {
  padding-right: 12px;
}
.not-empty .user-nav__link--basket::after {
  background-image: url('../img/svg/basket-red.svg');
}


.not-empty .basket__form {
  z-index: 4;
  position: absolute;
  top: 36px;
  right: 0;

  box-sizing: border-box;
  width: 539px;
  padding: 6px 13px;

  border-radius: 5px;
  background-color: #f8f7f4;
}

.basket__table {
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;

  border-spacing: 0 14px;

  color: #323232;
  border: none;
  border-bottom: 1px solid #cacac7;
}

.basket__cell {
  vertical-align: top;
}

.basket__rm {
  width: 23px;
  height: 23px;

  background-image: url('../img/svg/cross-small.svg');
  background-repeat: no-repeat;
  background-position: center 10px;
}

.basket__image {
  width: 33px
  height: 33px;
  margin-left: 3px;

  border-radius: 50%;
}

.basket__description {
  width: 220px;
  padding-top: 8px;
  padding-left: 10px;
}

.basket__price {
  padding-top: 8px;
  padding-left: 25px;
}

.basket__equally {
  padding: 8px 15px 0 26px;
}

.basket__total {
  font-size: 15px;
  line-height: 18px;

  margin: 0 0 14px auto;
  padding: 0;
  padding-top: 15px;

  text-align: right;

  color: #323232;
}

.basket__button {
  display: block;

  box-sizing: border-box;
  width: 170px;
  margin-bottom: 13px;
  margin-left: auto;
  padding: 9px 1px 13px;
}

.header-bottom-wrapper {
  display: flex;
  flex-direction: row-reverse;

  justify-content: space-between;
  align-items: flex-end;
}

.contact-info {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;

  margin: 0;

  text-align: right;

  order: 1;
}

.contact-info__tel {
  font-size: 22px;
  line-height: 24px;

  display: inline-block;

  padding-top: 4px;
  margin-right: -1px;

  border: none;
}

.contact-info__tel,
.contact-info__tel:hover {
  cursor: default;
  text-decoration: none;

  color: #fff;
  border: none;
}

/*BREADCRUMBS*/
.breadcrumbs {
  display: flex;

  margin: 0;
  margin-top: 0px;
  padding: 0;

  list-style: none;

  order: 2;
}
.breadcrumbs__item::after {
  content: '»';
  padding-left: 8px;
}
.breadcrumbs__item:last-child::after {
  display: none;
}

.page--main .breadcrumbs {
  display: none;
}

.breadcrumbs__item {
  margin-right: 5px;
}

.breadcrumbs__link {
  line-height: 16px;
  font-size: 14px;
}

.main__caption {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  line-height: 41px;
  font-size: 35px;
  font-weight: bold;
}

/* FILTER*/
.filter__form {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  align-items: flex-end;
}

.filter__item {
  margin: 0;
  margin-right: 16px;
  padding: 0;

  border: none;
}

.filter__caption {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;

  margin-bottom: 6px;
  padding-left: 16px;
}

.filter__canvas {
  position: relative;
  padding: 18px 25px 0;
  
  height: 38px;
  box-sizing: border-box;
    
  background-color: rgba(256, 256, 256, .2);
  
  border-radius: 18px;
}

.sort__input {
  padding: 6px 32px 8px 15px;

  text-transform: lowercase;

  color: #fff;
  background-color: rgba(256, 256, 256, .2);
  box-shadow: none;
  border: none;
}

.sort__input {
  /*additionaly rules*/
  /*for WebKit*/
 -webkit-appearance: none;
 /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none;
  background-image: url('../img/svg/icon-down-dir.svg');
  background-position: 93.5% center;
  background-repeat: no-repeat;
}

.sort__input option {
  color: #323223;
}

/*RANGE*/
.filter__canvas--range {
  width: 220px;
  padding: 17px 23px 0;
}

.range__scale {
  height: 4px;

  background: #d7dcde;
}

.range__bar {
  position: relative;
  width: 68%;
  margin-left: 12px;
  height: 4px;

  background-color: #ffffff;
}

.range__bar::after,
.range__bar::before {
  position: absolute;
  top: -8px;
  content: '';
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
/*  box-shadow: 0 2px 1px 0 #cfcfcf;*/
  border-radius: 50%;
  cursor: pointer;
}

.range__bar::after {
  right: 0;
}

/*FAT*/
.filter__canvas--fat {
  padding-top: 9px;
  padding-left: 11px;
  padding-right: 4px;
  margin-left: -1px;
}
.filter__caption--fat {
  margin-left: -2px;
}

.fat__label {
  position: relative;
  margin-right: 11px;
  padding-left: 35px;
  line-height: 18px;
  font-size: 16px;
}

.fat__label::before {
  position: absolute;
  top: -2px;
  left: 2px;
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border: 4px solid #fff;
  border-radius: 50%;
}
.fat__label::after {
  position: absolute;
  top: 5px;
  left: 9px;
  content: '';
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

.fat__radio:checked + .fat__label::after {
  display: block;
}

.fat__radio {
  display: none;
}

/*FILLER*/
.filler {
  margin-top: 14px;
  margin-bottom: 5px;
}
.filter__canvas--filler {
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 4px;
}
.filler__label {
  position: relative;
  margin-right: 18px;
  padding-left: 32px;
  line-height: 18px;
  font-size: 16px;
}
.filler__label::before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 3px;
}

.filler__label::after {
  content: '';
  display: none;
  position: absolute;
  top: 1px;
  left: 4px;
  width: 15px;
  height: 7px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  transform: rotate(-45deg);
}

.filler__checkbox {
  display: none;
}

.filler__checkbox:checked + .filler__label::after {
  display: block;
}

.filter__button {
  background-color: rgba(256, 256, 256, .2);
  box-sizing: border-box;
  border: 3px solid #fff;
  padding: 0px 27px;
  color: #fff;
  line-height: 18px;
  display: block;
  height: 38px;
  border-radius: 19px;
  margin-left: -2px;
  margin-bottom: 5px;
}
.filter__button:hover {
  background-color: #fff;
  color: #323232;
}


/*SLIDER*/
.slider__pages {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__page {
  display: none;
  flex-direction: column;

  padding-top: 273px;

  align-items: center;
}

.slider__page.active {
  display: flex;
}

.slider__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;

  width: 1050px;
  height: auto;
  margin-left: -525px;
}

.slider__description {
  font-size: 60px;
  font-weight: bold;
  line-height: 60.35px;

  position: relative;

  width: 700px;
  margin: 0;
  margin-bottom: 30px;

  text-align: center;
}

.slider__button {
  font-size: 32px;
  line-height: 44px;

  display: block;

  margin-bottom: 42px;
  padding: 10px 40px;

  border-radius: 32px;
}

.slider__page:nth-child(2),
.slider__page:nth-child(3) {
  display: none;
}

.slider__r-buttons {
  position: absolute;
  top: 563px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.slider__r-button {
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.slider__r-button--active {
  background-color: #fff;
}

/*DISCOUNT*/
.discount-list {
  display: flex;

  justify-content: space-between;
  margin-bottom: 5px;
}

.discount {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;

  padding: 16px 20px 16px 18px;

  border-radius: 16px;
  background-size: auto;
  background-position: 0;

  flex-basis: 560px;
}

.discount--raspberries {
  background-color: #a82c3e;
  background-image: url('../img/raspberry-bg.jpg');
}

.discount--chocolate {
  background-color: #5a3a30;
  background-image: url('../img/chocolate-bg.jpg');
}

.discount__caption {
  font-size: 35px;
  line-height: 41px;

  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}

.discount__description {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;

  margin: 0;
  margin-bottom: 45px;
  padding: 0;
}

.discount__button {
  display: block;
  align-self: flex-end;
  margin-bottom: 8px;
  
  padding: 10px 22px;
}


/* PRODUCT*/
.product {
  display: flex;
  flex-direction: column;

  margin-bottom: 32px;
  padding: 34px 0 0;
}

.page--main .product {
  margin-bottom: 0px;
}

.product__items {
  display: flex;

  margin: 0;
  margin-bottom: 44px;
  padding: 0;

  list-style: none;

  justify-content: space-between;
  flex-wrap: wrap;
}

.page--main .product__items {
  margin-bottom: 1px;
}
.product__item {
  position: relative;

  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  flex-basis: 267px;
}

.product__item:hover::after {
  position: absolute;
  z-index: -2;
  top: 0;
  left: -8px;

  display: block;

  width: 280px;
  height: calc(100% + 44px);

  content: '';

  border-radius: 5px;
  background-color: rgba(256, 256, 256, .2);
  box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.2);
}

.product__item:hover {
  z-index: 1;
}

.page--catalog .product__item {
  margin-bottom: 0px;
}

.product__image {
  position: relative;
  z-index: -1;

  border-radius: 50%;

  align-self: center;
}

.product__item--hit::before {
  position: absolute;

  display: block;

  width: 60px;
  height: 60px;

  content: '';

  border-radius: 50%;
  background-color: #fff;
  background-image: url('../img/svg/hit.svg');
  background-repeat: no-repeat;
}

.product__price {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;

  display: inline-flex;

  margin: -63px 0 21px;
  padding: 0;

  align-self: flex-start;
  align-items: center;
}
.product__ruble {
  font-size: 0;

  display: block;

  width: 30px;
  height: 35px;
  margin: 2px 1px 0 4px;

  background-image: url('../img/svg/ruble.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.product__description {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;

  padding: 0 4px 1px 5px;
}

.product__item h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
  margin-left:2px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.product__weight {
  font-size: 30px;
  font-weight: normal;
  font-weight: bold;
  line-height: 45px;

  padding-top: 10px;

  vertical-align: bottom;
}


.product__annexe {
  position: absolute;
  z-index: 10;
  bottom: -44px;
  left: -8px;

  display: none;

  width: 280px;
  height: 44px;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  /*background-color: rgba(256, 256, 256, .2);*/
}

.product__item:hover .product__annexe {
  display: block;
}

.product__button {
  position: relative;
  z-index: 10;
  display: block;

  margin: -22px auto 0;
}

/*PAGER*/
.pager__items {
  display: flex;
  position: relative;

  margin: 0;
  margin-left: auto;
  padding: 0;
  padding: 0 24px;

  list-style: none;
}

.pager__items::before,
.pager__items::after {
  display: block;
  content: '';
  position: absolute;
  top: 9px;
  height: 8px;
  width: 8px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  cursor: pointer;
}

.pager__items::before {
  transform: rotate(45deg);
  left: 4px;
  border-color: rgba(256, 256, 256, 0.5);
}
.pager__items::after {
  transform: rotate(225deg);
  right: 3px;
}

.pager__link {
  display: block;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  margin-left: 4px;
  padding: 2px 0 0 0px;
}
.pager__link--active {
  background-color: #fff;
  color: #323232;
  border-radius: 50%;
}

/* FEATURE*/
.feature {
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-right: 0;
  padding-left: 0;

  border-radius: 15px;
  background-color: #ebd9b8;
  background-image: url('../img/wafer-pattern.jpg');
}

.feature__caption {
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;

  margin: 0;
  margin-left: 20px;

  color: #323232;
}

.feature__items {
  display: flex;

  margin: 0;
  padding: 20px 20px 0;

  list-style: none;

  flex-wrap: wrap;
  justify-content: space-between;
}

.feature__item {
  font-size: 16px;
  line-height: 22px;

  position: relative;

  padding-bottom: 23.5px;
  padding-left: 55px;

  color: #323232;

  flex-basis: 485px;
}
.feature__item::before {
  position: absolute;
  top: -12px;
  left: 0;

  display: block;

  width: 50px;
  height: 50px;

  content: '';

  background-repeat: no-repeat;
  /*  display: none;*/
}
.feature__item--ice::before {
  background-image: url('../img/svg/ice-cream.svg');
}
.feature__item--eco::before {
  background-image: url('../img/svg/eco.svg');
}
.feature__item--cow::before {
  background-image: url('../img/svg/cow.svg');
}
.feature__item--thermo::before {
  background-image: url('../img/svg/thermometer.svg');
}

/* NEWS AND SUBSCRIPTION*/
.wrapper__news {
  display: flex;

  margin-bottom: 40px;
  padding-top: 39px;

  justify-content: space-between;
}

.new-in-blog {
  padding: 24px 20px;

  border-radius: 15px;
  background-color: #fff;
  background-image: url('../img/new-in-blog__bg.jpg');
  background-repeat: no-repeat;

  flex-basis: 520px;
}

.new-in-blog__caption {
  font-size: 16px;
  line-height: 22px;

  margin: 0;
  margin-bottom: 3px;

  color: #323232;
}

.new-in-blog__link {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;

  display: inline-block;

  width: 290px;

  text-decoration: underline;

  color: #323232;
}
.new-in-blog__link span {
  background-color: rgba(256, 256, 256, 0.8);
}


.subscription {
  padding: 5px;

  border-radius: 15px;
  background-image: url('../img/svg/bg-post.svg');
  background-repeat: no-repeat;

  flex-basis: 550px;
}

.subscription__wrap {
  padding: 15px 22px;

  border-radius: 15px;
  background-color: #f8f7f4;
}

.subscription__description {
  margin-bottom: 35px;

  color: #323232;
}

.subscription__form {
  display: flex;

  margin-bottom: 18px;
}

.subscription__form--email {
  line-height: 40px;

  box-sizing: border-box;
  margin-right: 10px;
  padding-left: 10px;
  /*border-radius: 3px;*/

  flex-grow: 1;
}

/* MAP*/
.map {
  position: relative;

  width: 1200px;
  height: 430px;
  margin: 0 auto;

  background-color: #f7f1d9;
  background-size: cover;
}

.map__map /*:-)*/ {
  width: 1200px;
  height: auto;

  color: #323232;
}
.map__info {
  font-size: 14px;
  line-height: 20px;

  position: absolute;
  top: 62px;
  right: 27px;

  box-sizing: border-box;
  width: 302px;
  padding: 29px 22px 30px 25px;

  color: #323232;
  border-radius: 15px;
  background-color: #fefefe;
}

.map__top-text {
  font-size: 14px;
  line-height: 20px;

  width: 150px;
  margin: 0;
  margin-bottom: 1px;
  padding: 0;
}

.map__adress-text {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  display: inline-block;

  margin: 0;
  margin-bottom: 18px;
  padding: 0;

  color: #323232;
}

.map__middle-text {
  margin: 0;
  padding: 0; 
}

.map__tel {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  text-decoration: none;

  color: #323232;
}

.map__tel:hover {
  cursor: default;

  color: #323232;
}

.map__button {
  display: block;

  margin-top: 24px;
  padding: 10px 28px 11px;
}

/*FOOTER*/
.main-footer {
  display: flex;

  padding-top: 18px;

  justify-content: space-between;
}

.social__items {
  display: inline-flex;

  margin: 0;
  padding: 0;
  padding-top: 17px;

  list-style: none;
}

.social__item {
  margin-right: 11px;
}

.social__item a {
  font-size: 0;

  display: block;

  width: 32px;
  height: 32px;

  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.social__item--tw a {
  background-image: url('../img/svg/twitter.svg');
}

.social__item--inst a {
  background-image: url('../img/svg/instagram.svg');
}

.social__item--fb a {
  background-image: url('../img/svg/fb.svg');
}

.social__item--vk a {
  background-image: url('../img/svg/vk.svg');
}



.sitelink__items {
  display: flex;

  box-sizing: border-box;
  width: 310px;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-left: 0;

  list-style: none;

  flex-wrap: wrap;
  justify-content: space-between;
}

.sitelink__items li {
  flex-basis: 45%;
}
.sitelink__items li:nth-child(2n) {
  box-sizing: border-box;
  padding-left: 5px;

  flex-basis: 55%;
}

.sitelink__link {
  font-size: 13px;
  line-height: 18px;

  position: relative;

  display: block;

  margin-bottom: 5px;
}

.sitelink__link::before {
  position: absolute;
  left: -25px;

  display: block;

  width: 20px;
  height: 20px;
  margin-right: 5px;

  content: '';
}

.sitelink__link--attention::before {
  background-image: url('../img/svg/heart.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.sitelink__link--attention {
  font-weight: bold;
}

.main-footer {
  position: relative;
  margin-bottom: 50px;
}
.main-footer::before {
  top: -1px;
  position: absolute;
  content: '';
  display: block;
  background-color: rgba(256, 256, 256, 0.3);
  height: 1px;
  width: 1144px;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;

  margin: 0;
  padding: 0;
}

.footer-logo {
  display: block;

  width: 108px;
  height: 39px;
  margin-bottom: 2px;
  margin-left: 2px;
  padding: 0;

  background-image: url('../img/svg/logo-htmlacademy.svg');
  background-repeat: no-repeat;
}



/*FEEDBACK*/
.feedback {
  position: fixed;
  z-index: 2;
  top: 50%;
  right: 50%;

  display: none;

  box-sizing: border-box;
  width: 477px;
  margin-top: -108px;
  margin-right: -208px;
  padding: 16px 24px;

  border-radius: 10px;
  background-color: #f8f7f4;
}
.feedback__form {
  display: flex;
  flex-direction: column;
}
.feedback__caption {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;

  margin: 0;
  margin-bottom: 18px;

  color: #323232;
}

.feedback__input {
  box-sizing: border-box;
  width: 267px;
  height: 44px;
  margin-bottom: 20px;
  padding-left: 11px;
}
.feddback__textarea {
  height: 140px;
  margin-bottom: 25px;
  padding-top: 11px;
  padding-left: 13px;

  resize: none;
}

.feedback__button--submit {
  margin-bottom: 10px;
  padding: 9px 23px 12px 23px;

  align-self: flex-end;
}

.feedback__button--close {
  font-size: 0;

  position: absolute;
  top: 14px;
  right: 16px;

  width: 18px;
  height: 18px;
  padding: 0;

  cursor: pointer;

  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../img/svg/cross-small.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  background-color: rgba(0, 0, 0, .3);
}
